body {
    background-color: whitesmoke;
    padding-bottom: 65px;
    color: #777;
}

.navbar {
    background-color:  white;
}

#message {
    height: 400px;
    min-height: 40px;
}

#read {
    height: 400px;
    min-height: 40px;
}

#form {
    margin-top: 16px;
}

#clip {
    display: none;
}