{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Ninja Note - Create a Note{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>
{{super()}}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
    <a class="navbar-brand" href="/">Ninja Note</a>
</div>
{% endblock %}

{% block content %}

<div id="clip" class="container">
    <div class="alert alert-success alert-dismissible" role="alert">
        <strong>Congratulations!</strong> your note has been <b>created.</b>
    </div>
        <label for="foo">Generated note link</label>
<div class="input-group">
    <input id="foo" class="form-control" value= {{ note_id }} >
      <span class="input-group-btn">
        <button class="btn btn-default clipboard" type="button" data-clipboard-target="#foo">
            <span class="glyphicon glyphicon-copy"></span>
        </button>
      </span>
    </div>
</div>
<div id="form" class="container">
    <form method="POST" action="/create">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.message)}}
        {{ wtf.form_field(form.submit, class="btn btn-primary btn-lg")}}
        <br>
        <br>
        {{ wtf.form_field(form.password, form_type="horizontal", horizontal_columns=('sm', 2, 3))}}
        <br>
        <br>

        {{ wtf.form_field(form.confirm , form_type="horizontal", horizontal_columns=('sm', 2, 3))}}
    </form>
</div>


<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text">
            <p>© 2018 Ninja Note</p>
        </div>
    </div>
</div>
{% endblock %}



